{{!-- Falta espaciar los elementos del navbar --}}

<nav style="background-color: #EBC2B1; border:#fff, bottom, 2px" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/aros">Aros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collaresychokers">Collares y chokers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/anillos">Anillos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pulseras">Pulseras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/thesunsetcollection">The Sunset Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
