<h1 class="text-center mt-2"> Anillos </h1>

<div class="container-items container-fluid d-flex justify-content-center ps-5 pe-5 mb-5 mt-3">
    <div class="row">

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/yingyang21-88f9ed9080fd5bc98716262981451903-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Anillo Ying Yang</h6>
                <h5 class="price text-center">$2419</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/v-cfvfdvsdsvd1-82754def35efd0674116168388183669-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Mandala Ring</h6>
                <h5 class="price text-center">$2505</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center"  id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/dfdvfddf1-d519f75114aefc417916168375878664-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Temptation Ring</h6>
                <h5 class="price text-center">$3230</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/vfdfdvdfdf1-6f7612c29fcf6eb0b016168392592252-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Ninfa Ring</h6>
                <h5 class="price text-center">$2999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/bbfvfbf1-6a73aa3a5c34f32ea816168385608962-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Megan Ring</h6>
                <h5 class="price text-center">$2135</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>

