<h1 class="text-center mt-2"> Aros </h1>

<div class="container-items">
<div class=" container-fluid d-flex justify-content-center ps-5 pe-5 mt-3">
    <div class="row">

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/131-ae1e3289d8dfb6b3ac16388490056693-320-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Nighty Sky</h6>
                <h5 class="price text-center">$2299</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/21-46fefa794dc41f2b0816472788271542-1024-1024.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Night Out</h6>
                <h5 class="price text-center">$3799</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/101-3784238c080f4bbc7016472683185042-1024-1024.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Piercing Tiny Moon</h6>
                <h5 class="price text-center">$2519</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/111-32c5e4461e68280ff316472672696347-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Piercing Sky Light</h6>
                <h5 class="price text-center">$2419</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/221-cbaf2db4e90380dfbf16472652100295-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Night Storm</h6>
                <h5 class="price text-center">$2299</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        
    </div>

    
</div>

<div class=" container-fluid d-flex justify-content-center ps-5 pe-5">
    <div class="row">

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/diseno-sin-titulo-3711-83a47e992d0e71f2ab16075734115330-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Shiny Gold 6mm</h6>
                <h5 class="price text-center">$2299</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/231-f01097da6f1b6db66216388892781110-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Deep Passion</h6>
                <h5 class="price text-center">$3499</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/171-868a359b50f7178a0e16303678724615-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Spring Times</h6>
                <h5 class="price text-center">$2409</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/101-ed324723941b5d0ee716388485254027-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Sun Drop</h6>
                <h5 class="price text-center">$1999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/glam1-c6c6d536a10c926f3016369975116732-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Pure Gloss</h6>
                <h5 class="price text-center">$3419</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>

<div class=" container-fluid d-flex justify-content-center ps-5 pe-5">
    <div class="row">

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/florcitas1-6bd94b473f8e5829b116168622158649-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Spring Lights (unidad)</h6>
                <h5 class="price text-center">$2249</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/101-f2dc847e83826fe0b716303667447344-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aro Sweet Honey</h6>
                <h5 class="price text-center">$1999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/solitario-wonka1-d8eadb49b728d0f4d316340689168338-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Solitario Wonka</h6>
                <h5 class="price text-center">$1979</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/22-809ccf368365b99ff416304678442440-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Solitario Strawberry</h6>
                <h5 class="price text-center">$1849</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/aritoss1-14e960ef93ac1e0c3416168574065057-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Adora</h6>
                <h5 class="price text-center">$3446</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>

<div class=" container-fluid d-flex justify-content-center ps-5 pe-5">
    <div class="row">

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76011-f57abb73cfee5ce85916393439310460-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Koi</h6>
                <h5 class="price text-center">$2699</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_751711-bd801e94066ee833e016393981960384-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Bardot</h6>
                <h5 class="price text-center">$2699</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/diseno-sin-titulo-141-1822dc41ab76faf8f115981337380442-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Cuff Starshine</h6>
                <h5 class="price text-center">$2605</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/131-ae1e3289d8dfb6b3ac16388490056693-320-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Piercing Eye</h6>
                <h5 class="price text-center">$1999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/51-030a5a81660853bf9d16303654549256-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Piercing Snake</h6>
                <h5 class="price text-center">$2319</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>


<div class=" container-fluid d-flex justify-content-center ps-5 pe-5 mb-5">
    <div class="row">

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/reva1-3ba6e53af67498267316367459417648-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Reva</h6>
                <h5 class="price text-center">$2749</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/241-42a6a7f87904edfe5016304500248516-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros Girl Boss</h6>
                <h5 class="price text-center">$2599</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/111-d48fe6ffb53711945d16388486449503-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Aros After Party Green</h6>
                <h5 class="price text-center">$3529</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/diseno-sin-titulo-771-4b601d10083aab078716261180199461-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Solitario Tiny Bug</h6>
                <h5 class="price text-center">$1286</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 250px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div id="foto">
                <img style="width: 226px; height:213px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/diseno-sin-titulo-471-c65ca33ad440567c7b15982067028111-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Cuff Kendall</h6>
                <h5 class="price text-center">$2355</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>
</div>