<h1 class="text-center mt-2"> Collares y chokers </h1>
<div class="container-items">
<div class="container-fluid d-flex justify-content-center ps-5 pe-5 mt-3">
    <div class="row">

        <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_77361-1349ca4d32cf7c84fb16394256461285-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Lil Tresor</h6>
                <h5 class="price text-center">$1999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        
        <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_77281-dfa02f4b1dff0b223816394226838100-1024-1024.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Tresor</h6>
                <h5 class="price text-center">$2115</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_766311-03347b71679cb27fbb16394073214140-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar The Hamptons</h6>
                <h5 class="price text-center">$1899</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76451-4082506d6174bb305e16393547461167-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Let's Sail Away</h6>
                <h5 class="price text-center">$3199</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_766821-2791628416a07a289716394199517526-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Cerdeña</h6>
                <h5 class="price text-center">$2159</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        
    </div>

    
</div>

<div class="container-fluid d-flex justify-content-center ps-5 pe-5">
    <div class="row">

        <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_75811-5470f53ac4f6b3d3cd16393506428026-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Sea of Love</h6>
                <h5 class="price text-center">$2799</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        
        <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_755111-8505f17823e5b5f10c16393470865274-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Guiding Star</h6>
                <h5 class="price text-center">$2859</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_75981-660b0c1aec3464bef416393279247578-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Under The Blue Sea</h6>
                <h5 class="price text-center">$1599</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76371-62125a331f63955cf116393455952095-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Flowing Waves</h6>
                <h5 class="price text-center">$3199</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

                <div style="width: 270px; height: 420px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 240px; height:300px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76271-302b7d06cba7e5891a16393493119223-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Shooting Star</h6>
                <h5 class="price text-center">$2510</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        
    </div>

    
</div>

<div class="container-fluid d-flex justify-content-center ps-5 pe-5 mb-5">
    <div class="row">

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_75041-5ed6d3bf44d7b8045d16394099801765-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Into The Ocean</h6>
                <h5 class="price text-center">$3595</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_751311-13fd8e7415d79bed2816394102501569-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Sea Glass</h6>
                <h5 class="price text-center">$2699</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center"  id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_761911-24276c5df47af89e9216394071139813-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Universe</h6>
                <h5 class="price text-center">$2559</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/unnamed-31-bd6fe72172a16482d116394262114370-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Collar Bardot</h6>
                <h5 class="price text-center">$2399</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/condijesedit21-4dec4ded376e860a6916245823131724-640-0.png" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Girlboss Necklace</h6>
                <h5 class="price text-center">$2540</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>
</div>