{{!-- Carousel --}}

<div style="background-color: #EBC2B1">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.postimg.cc/65Z6g2pY/Aros-2.jpg" class="d-block m-auto w-100" alt="Cuotas">
      <div class="carousel-caption d-none d-md-block bg-light">
        <h2 class="text-dark">3 cuotas sin interés</h2>
        <h5 class="text-dark">20% off por transferencia bancaria</h5>
      </div>
    </div>
    <div class="carousel-item">
      <a class="link-dark text-decoration-none" href="/thesunsetcollection">
        <img src="https://i.postimg.cc/qB87q62S/Sunset-1.jpg" class="d-block m-auto w-100" alt="The Sunset Collection-C">
      <div class="carousel-caption d-none d-md-block bg-light">
        <h2 class="text-dark">The sunset collection</h2>
        <h5 class="text-dark">Feel the summer vibes</h5>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/G2bc6dpt/120258188-174374147566316-6878973628509212127-n-1-1.jpg" class="d-block m-auto w-100" alt="Envíos">
      <div class="carousel-caption d-none d-md-block bg-light">
        <h2 class="text-dark">Envíos gratis</h2>
        <h5 class="text-dark">en compras mayores a $8000</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{{!-- Imágenes --}}

<div class="container d-flex align-items-center vh-100">
  <div class="row">
    <div style="position:relative; display:inline-block; text-align:center" class="col-3">
      <a class="link-dark text-decoration-none" href="/aros">
        <img src="https://i.postimg.cc/15rS7CV5/Aros2.jpg" class="img-fluid p-0 h-100" alt="AROS">
        <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);background-color:#fff; padding-left: 5px; padding-right: 5px"><h2> Aros </h2></div>
      </a>
    </div>
    <div class="col-6">
      <div class="row">
        <div style="position:relative; display:inline-block; text-align:center" class="col-12">
          <a class="link-dark text-decoration-none" href="/collaresychokers">
            <img src="https://i.postimg.cc/WzPRXg2k/Collares.jpg" class="img-fluid pb-3"  alt="COLLARES">
            <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);background-color:#fff; padding-left: 5px; padding-right: 5px"><h2> Collares y chokers </h2></div>
          </a>
        </div>
        <div style="position:relative; display:inline-block; text-align:center" class="col-6">
          <a class="link-dark text-decoration-none" href="/anillos">
          <img src="https://i.postimg.cc/8z2q9fM1/Anillos.jpg" class="img-fluid"  alt="ANILLOS">
          <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);background-color:#fff; padding-left: 5px; padding-right: 5px"><h2> Anillos </h2></div>
          </a>
        </div>
        <div style="position:relative; display:inline-block; text-align:center" class="col-6">
          <a class="link-dark text-decoration-none" href="/pulseras">
          <img src="https://i.postimg.cc/5yFx8WMg/Pulseras.jpg" class="img-fluid"  alt="PULSERAS">
          <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);background-color:#fff; padding-left: 5px; padding-right: 5px"><h2> Pulseras </h2></div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <a target="_blank" href="https://www.instagram.com/zoeygalbsas/"><img class="img-fluid h-100" src="https://i.postimg.cc/vBrvJ9Qd/Instagram.png" alt="Instagram"></a>
    </div>
  </div>
</div>

</div>