<h1 class="text-center mt-2"> Pulseras </h1>

<div class="container-items container-fluid d-flex justify-content-center ps-5 pe-5 mb-5 mt-3">
    <div class="row">

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76331-f2257684e54277f62216394174911645-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Pulsera Cerdeña</h6>
                <h5 class="price text-center">$1759</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/tiny-bella-bracelet1-ea82f28f8dd83a8bab16168413808980-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Tiny Bella Bracelet</h6>
                <h5 class="price text-center">$2999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center"  id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_76071-5414601ac8af052a8e16394186052406-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Pulsera Tresor</h6>
                <h5 class="price text-center">$1999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>

         <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/bdfdbfdbf1-8bdb0671d89f6274a216168410251888-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Sassy Bracelet</h6>
                <h5 class="price text-center">$2999</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>


        <div style="width: 270px; height: 350px; border-radius: 20px;" class="item col-2 bg-white mb-3 mt-3 ms-3 me-3 pt-1" id="producto">
            <div class="d-flex justify-content-center" id="foto">
                <img style="width: 226px; height:213px; margin-top: 3px; border-radius:15px" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/306/165/products/img_77351-34d649b4197cde497d16394241948093-640-0.jpg" alt="Producto">
            </div>
            <div class="info-product">
            <div id="nombre">
                <h6 class="text-center">Pulsera Gold Sand</h6>
                <h5 class="price text-center">$2208</h5>
            </div>
            <div class= "container d-flex justify-content-center pt-2" id="comprar">
                <button type="button"  class="btn-add-cart btn btn-dark rounded-pill
                 ps-5 pe-5">Añadir</button>
            </div>
            </div>
        </div>
        



    </div>

    
</div>